<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alibaba.medical.dao.InstrumentBillMapper" >
  <resultMap id="BaseResultMap" type="com.alibaba.medical.pojo.InstrumentBill" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="ins_bill_number" property="insBillNumber" jdbcType="BIGINT" />
    <result column="apply_title" property="applyTitle" jdbcType="VARCHAR" />
    <result column="applicant" property="applicant" jdbcType="VARCHAR" />
    <result column="apply_date" property="applyDate" jdbcType="TIMESTAMP" />
    <result column="apply_cause" property="applyCause" jdbcType="VARCHAR" />
    <result column="approver" property="approver" jdbcType="VARCHAR" />
    <result column="approve_date" property="approveDate" jdbcType="TIMESTAMP" />
    <result column="apply_content" property="applyContent" jdbcType="VARCHAR" />
    <result column="approve_result" property="approveResult" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ins_bill_number, apply_title, applicant, apply_date, apply_cause, approver, approve_date, 
    apply_content, approve_result, status, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from instrument_bill
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from instrument_bill
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.alibaba.medical.pojo.InstrumentBill" >
    insert into instrument_bill (id, ins_bill_number, apply_title, 
      applicant, apply_date, apply_cause, 
      approver, approve_date, apply_content, 
      approve_result, status, remark
      )
    values (#{id,jdbcType=BIGINT}, #{insBillNumber,jdbcType=BIGINT}, #{applyTitle,jdbcType=VARCHAR}, 
      #{applicant,jdbcType=VARCHAR}, #{applyDate,jdbcType=TIMESTAMP}, #{applyCause,jdbcType=VARCHAR}, 
      #{approver,jdbcType=VARCHAR}, #{approveDate,jdbcType=TIMESTAMP}, #{applyContent,jdbcType=VARCHAR}, 
      #{approveResult,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.alibaba.medical.pojo.InstrumentBill" >
    insert into instrument_bill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="insBillNumber != null" >
        ins_bill_number,
      </if>
      <if test="applyTitle != null" >
        apply_title,
      </if>
      <if test="applicant != null" >
        applicant,
      </if>
      <if test="applyDate != null" >
        apply_date,
      </if>
      <if test="applyCause != null" >
        apply_cause,
      </if>
      <if test="approver != null" >
        approver,
      </if>
      <if test="approveDate != null" >
        approve_date,
      </if>
      <if test="applyContent != null" >
        apply_content,
      </if>
      <if test="approveResult != null" >
        approve_result,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="insBillNumber != null" >
        #{insBillNumber,jdbcType=BIGINT},
      </if>
      <if test="applyTitle != null" >
        #{applyTitle,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null" >
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyCause != null" >
        #{applyCause,jdbcType=VARCHAR},
      </if>
      <if test="approver != null" >
        #{approver,jdbcType=VARCHAR},
      </if>
      <if test="approveDate != null" >
        #{approveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyContent != null" >
        #{applyContent,jdbcType=VARCHAR},
      </if>
      <if test="approveResult != null" >
        #{approveResult,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.medical.pojo.InstrumentBill" >
    update instrument_bill
    <set >
      <if test="insBillNumber != null" >
        ins_bill_number = #{insBillNumber,jdbcType=BIGINT},
      </if>
      <if test="applyTitle != null" >
        apply_title = #{applyTitle,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null" >
        applicant = #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null" >
        apply_date = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyCause != null" >
        apply_cause = #{applyCause,jdbcType=VARCHAR},
      </if>
      <if test="approver != null" >
        approver = #{approver,jdbcType=VARCHAR},
      </if>
      <if test="approveDate != null" >
        approve_date = #{approveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyContent != null" >
        apply_content = #{applyContent,jdbcType=VARCHAR},
      </if>
      <if test="approveResult != null" >
        approve_result = #{approveResult,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alibaba.medical.pojo.InstrumentBill" >
    update instrument_bill
    set ins_bill_number = #{insBillNumber,jdbcType=BIGINT},
      apply_title = #{applyTitle,jdbcType=VARCHAR},
      applicant = #{applicant,jdbcType=VARCHAR},
      apply_date = #{applyDate,jdbcType=TIMESTAMP},
      apply_cause = #{applyCause,jdbcType=VARCHAR},
      approver = #{approver,jdbcType=VARCHAR},
      approve_date = #{approveDate,jdbcType=TIMESTAMP},
      apply_content = #{applyContent,jdbcType=VARCHAR},
      approve_result = #{approveResult,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>